@model MovieStreaming.Custom.Models.PasswordReset.ResetPassword
@{

    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MovieStreaming</title>
    <link rel="shortcut icon" href="~/images/favikon.ico">
    <link href="~/css/bootstrap.min.css" id="bootstrap-style" rel="stylesheet" type="text/css">
    <link href="~/css/icons.min.css" rel="stylesheet" type="text/css">
    <link href="~/css/app.min.css" id="app-style" rel="stylesheet" type="text/css">
    <link href="~/plugins/sweet-alert/sweetalert.css" rel="stylesheet">


    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/cec5f9c18f.js" crossorigin="anonymous"></script>



</head>
<body>
    <div class="auth-page">
        <div class="container-fluid p-0">
            <div class="row g-0 align-items-center">
                <div class="col-xxl-4 col-lg-4 col-md-6">
                    <div class="row justify-content-center g-0">
                        <div class="col-xl-9">
                            <div class="p-4">
                                <div class="card mb-0">
                                    <div class="card-body">
                                        <div class="auth-full-page-content rounded d-flex p-3 my-2">
                                            <div class="w-100">
                                                <div class="d-flex flex-column h-100">
                                                    <div class="auth-content my-auto">
                                                        <div class="text-center">
                                                            <h5 class="mb-0">Reset Your Password</h5>
                                                        </div>

                                                        <form class="mt-4 pt-2" id="resetForm" method="post">

                                                            @Html.HiddenFor(m => m.resetToken)

                                                            <div class="form-floating form-floating-custom mb-4">
                                                                <input asp-for="Password" class="form-control" id="input-email" placeholder="New Password" type="password" required>
                                                                <label for="input-Password">New Password</label>
                                                                <div class="form-floating-icon">
                                                                    <i data-eva="lock-outline"></i>

                                                                </div>
                                                            </div>

                                                            <div class="form-floating form-floating-custom mb-4">
                                                                <input asp-for="ConfirmPassword" class="form-control" id="input-email" placeholder="Confirm Password" type="password" required>
                                                                <label for="input-Password">Confirm Passowrd</label>
                                                                <div class="form-floating-icon">
                                                                    <i data-eva="lock-outline"></i>
                                                                </div>
                                                            </div>

                                                            <div class="mb-3">
                                                                <button class="btn btn-primary w-100 waves-effect waves-light" type="submit" href="@Url.Action("Reset","ResetPassword")">Reset Password</button>
                                                            </div>

                                                            <p class="text-danger passwordNotMatching" style="display:none">Passwords do not match!</p>

                                                        </form>


                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- end auth full page content -->
                </div>
                <!-- end col -->
                <div class="col-xxl-8 col-lg-8 col-md-6">
                    <div class="auth-bg bg-white py-md-5 p-4 d-flex">
                        <div class="bg-overlay bg-white"></div>
                        <!-- end bubble effect -->
                        <div class="row justify-content-center align-items-center">
                            <div class="col-xl-8">
                                <div class="mt-4">
                                    <img style="width: 1103px;height: 714px; right: 95px; position: relative;" src="~/images/movie_login.png" class="img-fluid" alt="">
                                </div>
                                <div class="p-0 p-sm-4 px-xl-0 py-5">
                                    <div style="right: -90px" id="reviewcarouselIndicators" class="carousel slide auth-carousel" data-bs-ride="carousel">
                                        <div class="carousel-indicators carousel-indicators-rounded">
                                            <button type="button" data-bs-target="#reviewcarouselIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                                            <button type="button" data-bs-target="#reviewcarouselIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                                            <button type="button" data-bs-target="#reviewcarouselIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                                        </div>

                                        <!-- end carouselIndicators -->
                                        <div style="margin-left: 300px;" class="carousel-inner w-75 mx-auto">
                                            <div class="carousel-item active">
                                                <div class="testi-contain text-center">
                                                    <h5 class="font-size-20 mt-4">
                                                        Once Upon A Time In Hollywood
                                                    </h5>
                                                    <p class="font-size-15 text-muted mt-3 mb-0">
                                                        Amazing and accurate movie.
                                                    </p>
                                                </div>
                                            </div>

                                            <div class="carousel-item">
                                                <div class="testi-contain text-center">
                                                    <h5 class="font-size-20 mt-4">
                                                        Marvel Cinematic Universe
                                                    </h5>
                                                    <p class="font-size-15 text-muted mt-3 mb-0">
                                                        Incredible CGI.
                                                    </p>
                                                </div>
                                            </div>

                                            <div class="carousel-item">
                                                <div class="testi-contain text-center">
                                                    <h5 class="font-size-20 mt-4">
                                                        The Last of Us
                                                    </h5>
                                                    <p class="font-size-15 text-muted mt-3 mb-0">
                                                        Touching story.
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- end carousel-inner -->
                                    </div>
                                    <!-- end review carousel -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end col -->
            </div>
            <!-- end row -->
        </div>
        <!-- end container fluid -->
    </div>

    <script src="~/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/libs/metismenujs/metismenujs.min.js"></script>
    <script src="~/libs/simplebar/simplebar.min.js"></script>
    <script src="~/libs/eva-icons/eva.min.js"></script>
    <script src="~/js/pages/pass-addon.init.js"></script>
    <script src="~/js/pages/eva-icon.init.js"></script>
    <script src="~/js/form-validation.js"></script>
    <script src="~/plugins/jquery/jquery.min.js"></script>
    <script src="~/js/custom.js"></script>
    <!-- Select2 js-->
    <script src="~/plugins/select2/js/select2.min.js"></script>
    <script src="~/plugins/sweet-alert/sweetalert.min.js"></script>

    <!-- Bootstrap js-->
    <script src="~/plugins/bootstrap/js/popper.min.js"></script>
    <script src="~/plugins/bootstrap/js/bootstrap.min.js"></script>

    <!-- Select2 js-->
    <script src="~/plugins/select2/js/select2.min.js"></script>
    <script src="~/plugins/sweet-alert/sweetalert.min.js"></script>    <!-- Custom js -->
    <!-- Internal Summernote js -->
    <script src="~/plugins/parsleyjs/parsley.min.js"></script>




    <script>
        //$(document).ready(function (e) {
        //    $("#LoginInForm").parsley();

        //})
        $("#resetForm").submit(function (e) {

            let submitterId = e.originalEvent.submitter.id;
            e.preventDefault();

            var form = $(this);
            $.ajax({
                type: "POST",
                url: "@Url.Action("ResetPassword", "ResetPassword")",
                data: form.serialize(), // serializes the form's elements.
                success: function (data) {
                    console.log(data)
                    if (data.HasAffected) {
                        window.location.href = '@Url.Action("Login", "Account")';
                    } else if (data.PasswordDoesNotMatch) {
                        $(".passwordNotMatching").css("display", "block");
                    } else if (data.RequestNotValid) {
                        swal(
                            {
                                title: 'Request is not valid!',
                                text: 'Request is not valid.Please do it again...',
                                type: 'error',
                                confirmButtonColor: '#57a94f'
                            }
                        )
                    } else if (data.HasError) {
                        swal(
                            {
                                title: 'An error occurred!',
                                text: 'Please contact the administrator...',
                                type: 'error',
                                confirmButtonColor: '#57a94f'
                            }
                        )
                    }
                }
            });
        });


    </script>


</body>


</html>
